<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <h2>New Idea</h2>
    </div>
    <div class='col-md-8'></div>
  </div>

  <div class='row'>
    <div class='mx-auto newidea'>
      <%= form_with model:@idea, url: ideas_path, local:true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class='form-group'>
          <label for='inputTitle'>Title</label><br>
          <%= f.text_field :title, autofocus: true, size: '60', id:'inputTitle' %>
        </div>
        <div class='form-group'>
          <label for='inputContent'>Content</label><br>
          <%= f.text_area :content, autofocus: true, size: '60x10', id:'inputContent' %>
        </div>
        <div class='form-group'>
          <label>icon</label><br>
          <%= f.attachment_field :icon %>
        </div>
        <div class='form-group'>
          <label>Presentation_data</label><br>
          <%= f.attachment_field :presentation %>
        </div>
        <div class='form-group'>
          <label>Tags</label><br>
          <%= f.text_field :tag_ids, size: '60', placeholder:'タグ付けを複数行う場合は","で区切ってください' %>
        </div>
    </div>
  </div>
  <div class='row center'>
        <div class='form-group center'>
          <%= f.submit 'Submit', class:'btn btn-lg btn-outline-dark' %>
        </div>
      <% end %>
  </div>
</div>
