<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h2><%= @idea.title %></h2>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-8'>
      <table class="table table-borderless">
        <tr>
          <td><label>Content</label></td>
          <td><%= @idea.content %></td>
        </tr>
        <tr>
          <td><label>Icon</label></td>
          <td><%= attachment_image_tag @idea, :icon, :fill, 100, 100, format:'jpg', fallback:'no_image.png' %></td>
        </tr>
        <tr>
          <td><label>Presentation</label></td>
          <td><%= attachment_image_tag @idea, :presentation, :fill, 300, 200, format:'jpg', fallback:'no_image.png' %></td>
        </tr>
        <tr>
          <td><%= @idea.user.name %></td>
          <td>
            <% if current_user != @user %>
              <% if current_user.following?(@user) %>
                <%= link_to 'フォロー中', user_relationships_path(@user.id), method: :delete %>
              <% else %>
                <%= link_to 'フォローする', user_relationships_path(@user.id), method: :post %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><label>Tag</label></td>
          <td>
            <%= @tag_list %>
          </td>
        </tr>
        <% if current_user.id == @idea.user_id %>
         <td><%= link_to "Edit", edit_idea_path(@idea), class: "btn btn-dark" %></td>
        <% end %>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-7'>
      <div class="comments">
        <p>コメント件数：<%= @idea.comments.count %></p>
          <% @idea.comments.each do |comment| %>
            <p><%= image_tag('no_image.png') %></p>
            <%= comment.user.name %>
            <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
            <div class='idea-review' data-score='<%=comment.review %>'></div>
             <% if comment.user == current_user %>
            <div class="comment-delete">
              <%= link_to "削除", idea_comment_path(comment.idea, comment), method: :delete %>
            </div>
            <% end %>
          <% end %>
        </div>
        <div class="new-comment">
          <%= form_with(model:[@idea, @comment], local: true) do |f| %>
            <div id='review_stars'>
              <label>評価</label>
              <%= f.hidden_field :review_stars, id: :review_star %>
              <script>
                $('#review_stars').raty({
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  scoreName: 'comment[review]',
                  half: true,
                });
              </script>
            </div>
            <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
        </div>
    </div>
    <div class='favorite<%= @idea.id %>'>
      <%= render 'public/favorites/favorite', idea: @idea %>
    </div>
  </div>
</div>

<script>
$('.idea-review').raty({
  readOnly: true,
  score: function(){
    return $(this).attr('data-score');
  },
  starOn: "<%= asset_path('star-on.png') %>",
  starOff: "<%= asset_path('star-off.png') %>",
  starHalf: "<%= asset_path('star-half.png') %>",
});
</script>

<div style='width:600px; height:600px;'>
<canvas id="Chart"></canvas>
</div>
<script>
var ctx = document.getElementById('Chart');

var chart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: <%= @idea.chart_review_key(@comments) %>,
        datasets: [
          {
            label: '# of Votes',
            data: <%= @idea.chart_review_value(@comments) %>,
            backgroundColor: [
                '#ff1493',
                '#ff0000',
                '#ffa500',
                '#ffff00',
                '#7cfc00',
                '#008000',
                '#0000ff',
                '#000080',
                '',
                ''
                
            ],
            borderWidth: 1
        }]
    }
})
</script>