<div class='container'>
  <div class='row'>
    <div class='col-4 offset-1'>
      <h2>Edit of <%= @user.name %></h2>
    </div>
    <div class='col-md-8'></div>
  </div>
  <div class='row center'>
    <div class='mx-auto newidea'>
      <%= form_with model:@user, url: user_path(@user), local:true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
      
        <div class='form-group'>
          <label>Name</label><br>
          <%= f.text_field :name %>
        </div>
        
        <div class='form-group'>
          <label>Kana</label><br>
          <%= f.text_field :kana_name %>
        </div>
        
        <div class='form-group'>
          <label>Email</label><br>
          <%= f.email_field :email %>
        </div>
        
        <div class='form-group'>
          <label>introduction</label><br>
          <%= f.text_area :introduction, size: '40x6' %>
        </div>
        
        <div class='form-group'>
          <label>Profile Image</label><br>
          <%= f.attachment_field :profile_image %>
        </div>
        
        <div class='form-group'>
          <label>Speciality</label><br>
          <%= f.collection_check_boxes :speciality_ids, Speciality.all, :id, :name, {}, {class:'collection_box'} %>
        </div>
        
        <div class='form-group'>
          <label>Postal Code</label><br>
          <%= f.text_field :postal_code %>
        </div>
        
        <div class='form-group'>
          <label>Address</label><br>
          <%= f.text_field :address %>
        </div>
    </div>
  </div>
  <div class='row center'>
    <div class='form-group center'>
          <%= f.submit 'Save', class:'btn btn-outline-dark' %>
    </div>
      <% end %>
  </div>
</div>