<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h2><%= @user.name %> のプロフィール</h2>
    </div>
  </div>

  <div class='row'>
    
    <%= render 'public/users/sidebar', user: @user %>
    
    <div class='col-md-8 offset-md-1 profile_position'>
      <div class='center'>
        <%= attachment_image_tag @user, :profile_image, :fill, 200, 200, format:'jpeg', fallback:'no_profile.jpg' %>
      </div>
      <div>
        <div class='center profile_title'>Name</div>
        <div class='center'><%= @user.name %> (<%= @user.kana_name %>)</div>
      </div>
      <div>
        <div class='center profile_title'>Introduction</div>
        <div class='center'><%= @user.introduction %></div>
      </div>
      <div>
        <div class='center profile_title'>得意分野</div>
        <div class='center'>
          <% @user.specialities.each do |speciality| %>
              <%= speciality.name %>
          <% end %>
        </div>
      </div>
      <div>
        <div class='center profile_title'>ポジション</div>
        <div class='center'>
          <% if @user.mentor_check == true %>
            <span class='text-success'>メンター</span>
          <% else %>
            <span class='text-dark'>一般ユーザー</span>
          <% end %>
        </div>
      </div>
      <div class='profile_tab center'>
        <% if current_user != @user %>
          <span>  
            <%= link_to @user.name+'とチャット', chat_path(@user.id), class:'btn btn-outline-dark' %>
          </span>
          <span>
            <% if current_user.following?(@user) %>
              <%= link_to 'フォロー中', user_relationships_path(@user.id), method: :delete, class:'btn btn-outline-dark' %>
            <% else %>
              <%= link_to 'フォローする', user_relationships_path(@user.id), method: :post, class:'btn btn-outline-dark' %>
            <% end %>
          </span>
          
        <% end %>
      </div>
    </div>
  </div>
</div>